{{#extend "layout"}}

  {{#replace "meta"}}
    <title>{{exchange-page-title}}</title>
    <meta name="description" content="{{exchange-description}}">
  {{/replace}}

  {{#replace "main"}}

    <section id="exchange">

      <h2>Exchange</h2>

    </section>

  {{/replace}}
{{/extend}}