{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Buildings</title>
    <meta name="description" content="Traditional Japanese Carpentry by Kunhiro Amemiya">

  {{/replace}}

  {{#replace "main"}}

    <section id="buildings">
      <div class="inner">

        <h2>Buildings</h2>
        <img src="assets/img/tandarts-marcelien-bakker-thumb.jpg" width="200" height="300" alt="tandarts Marcelien Bakker" />

      </div>
    </section>

  {{/replace}}
{{/extend}}