{{#extend "layout"}}

  {{#replace "meta"}}
    <title>{{contact-page-title}}</title>
    <meta name="description" content="{{contact-description}}">
  {{/replace}}

  {{#replace "main"}}

    <section id="contact">

      <h2>Contact</h2>

    </section>

  {{/replace}}
{{/extend}}