{{#extend "layout"}}

  {{#replace "meta"}}
    <title>{{links-page-title}}</title>
    <meta name="description" content="{{links-description}}">
  {{/replace}}

  {{#replace "main"}}

    <section id="links">

      <h2>Links</h2>

    </section>

  {{/replace}}
{{/extend}}