// COMMON ACROSS ALL PAGES
html {
  height: 100%;
}
body {
  min-width: 320px;
  height: 100%;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'MS Gothic', 'Arial Unicode MS', Verdana, Geneva, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 100%;
  color: #576b83;
  -webkit-font-smoothing: antialiased;
}
h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 100%;
  margin: 0;
}
h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  margin: 0 0 30px;
  letter-spacing: 1px;
  color: #6c6c6c;
  [lang="en"] & {
    font-family: 'Muli', Verdana, Geneva, sans-serif;
  }
}
h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  font-family: Verdana, Geneva, sans-serif;
  color: $amemiya-green;
  margin: 38px 0 20px;
}
p {
  text-align: justify;
  line-height: 150%;
}
a {
  color: $amemiya-green;
  &:hover {
    text-decoration: none;
  }
}
img {
  display: block;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    margin: 0;
    line-height: 150%;
  }
}
table {
  tr {
    td {
      text-align: justify;
      line-height: 150%;
      vertical-align: top;
    }
  }
}
header,
main,
section,
footer {
  position: relative;
  .inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    padding: 0 20px;
    @include border-box;
  }
}
header {
  .inner {
    position: relative;
    padding: 78px 20px;
    img.artwork {
      position: absolute;
      right: 0;
      top: 5px;
    }
  }
}
main {
  .inner {
    position: relative;
    padding-left: 260px;
    min-height: 460px;
    nav {
      position: absolute;
      width: 180px;
      left: 0;
      top: 0;
      z-index: 1;
      padding-left: 20px;
      >ul {
        background: #ededed;
        background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
        background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
        background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
        background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
        filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
        background: linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
        border: 1px solid #ddd;
        li {
          position: relative;
          a {
            display: block;
            font-size: 13px;
            letter-spacing: 0;
            padding: 10px 14px;
            text-decoration: none;
            color: #767676;
            &:hover {
              color: #869f55;
              &:after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 0 5px 5px;
                border-color: transparent transparent transparent #869f55;
                right: 12px;
                top: 15px;
              }
            }
          }
          &.parent>a:after {
            top: 17px;
            border-width: 5px 5px 0 5px;
            border-color: #869f55 transparent transparent transparent;
          }
        }
        >li {
          >ul {
            height: 0;
            overflow: hidden;
            background: #898989;
            background: -moz-linear-gradient(top, #898989 0%, #898989 11%, #707070 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #898989), color-stop(11%, #898989), color-stop(100%, #707070));
            background: -webkit-linear-gradient(top, #898989 0%, #898989 11%, #707070 100%);
            background: -o-linear-gradient(top, #898989 0%, #898989 11%, #707070 100%);
            background: -ms-linear-gradient(top, #898989 0%, #898989 11%, #707070 100%);
            background: linear-gradient(top, #898989 0%, #898989 11%, #707070 100%);
            filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#898989', endColorstr='#707070', GradientType=0 );
            padding: 0 0 0 6px;
            a {
              color: #fff;
              &:hover {
                color: #fff;
                &:after {
                  border-color: transparent transparent transparent #fff;
                }
              }
            }
          }
        }
      }
      >p {
        a {
          img {
            display: inline-block;
            margin: 0 7px -1px 5px;
          }
        }
      }
      [lang="en"] & {
        .en {
          display: none;
        }
      }
      [lang="jp"] & {
        .jp {
          display: none;
        }
      }
    }
    .images {
      a {
        float: left;
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 115px;
        height: 77px;
        margin: 0 5px 5px 0;
        background-color: #c2a472;
        &:hover {
          opacity: 0.8;
        }
        img {
          max-width: 100%;
        }
      }
      &:after {
        @include clearfix;
      }
    }
    .hidden {
      display: none;
    }
  }
}
footer {
  padding: 32px 60px 80px;
  p {
    text-align: right;
  }
}
section#about {
  img {
    border: 1px solid #777;
    margin: 20px 0 20px -1px;
  }
  table {
    tr {
      td {
        &:first-child {
          width: 60px;
        }
      }
    }
  }
}

/* -- JQUERY LIGHTBOX ---------------------------------------------- */
#jquery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 500px;
}
#jquery-lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  line-height: 0;
}
#jquery-lightbox a img {
  border: none;
}
#lightbox-container-image-box {
  position: relative;
  background-color: #fff;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
#lightbox-container-image {
  padding: 10px;
}
#lightbox-loading {
  position: absolute;
  top: 40%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}
#lightbox-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav {
  left: 0;
}
#lightbox-nav a {
  outline: none;
}
#lightbox-nav-btnPrev,
#lightbox-nav-btnNext {
  width: 49%;
  height: 100%;
  zoom: 1;
  display: block;
}
#lightbox-nav-btnPrev {
  left: 0;
  float: left;
}
#lightbox-nav-btnNext {
  right: 0;
  float: right;
}
#lightbox-container-image-data-box {
  font: 10px Verdana, Helvetica, sans-serif;
  background-color: #fff;
  margin: 0 auto;
  line-height: 1.4em;
  overflow: auto;
  width: 100%;
  padding: 0 10px;
}
#lightbox-container-image-data {
  padding: 0 10px;
  color: #666;
}
#lightbox-container-image-data #lightbox-image-details {
  width: 70%;
  float: left;
  text-align: left;
}
#lightbox-image-details-caption {
  font-weight: bold;
}
#lightbox-image-details-currentNumber {
  display: block;
  clear: left;
  padding-bottom: 1.0em;
}
#lightbox-secNav-btnClose {
  width: 66px;
  float: right;
  padding-bottom: 0.7em;
}