<header>
  <div class="inner">
    <h1>
      <a href="/" title="Amemiya Daiku">
        <img src="/assets/img/amemiya-daiku.png" width="182" height="64" alt="logo Amemiya Daiku" />
      </a>
    </h1>
    <img src="/assets/img/amemiya-daiku-logo.png" width="443" height="261" id="logo-artwork" class="artwork" />
  </div>
</header>