<header>
  <div class="inner">
    <h1>
      <a href="/" title="Amemiya Daiku">
        <img src="/assets/img/amemiya-daiku.png" width="182" height="64" alt="logo Amemiya Daiku" id="logo" />
      </a>
    </h1>
    <div id="header-bg-box">
      <img src="/assets/img/amemiya-daiku-logo.png" width="443" height="261" id="logo-artwork" />
    </div>
  </div>
</header>