{{#extend "layout"}}

  {{#replace "meta"}}
    <title>{{ocha-page-title}}</title>
    <meta name="description" content="{{ocha-description}}">
  {{/replace}}

  {{#replace "main"}}

    <section id="ocha">

      <h2>Ocha He Ie</h2>

      <p>{{under-construction}}</p>

    </section>

  {{/replace}}
{{/extend}}