{{#extend "layout"}}

  {{#replace "meta"}}
    <title>{{finish-page-title}}</title>
    <meta name="description" content="{{finish-description}}">
  {{/replace}}

  {{#replace "main"}}

    <section id="finish">

      <h2>Finish</h2>

    </section>

  {{/replace}}
{{/extend}}