{{#extend "layout"}}

  {{#replace "meta"}}
    <title>{{furniture-page-title}}</title>
    <meta name="description" content="{{furniture-description}}">
  {{/replace}}

  {{#replace "main"}}

    <section id="furniture">

      <h2>Furniture</h2>

    </section>

  {{/replace}}
{{/extend}}