{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Amemiya Daiku</title>
  {{/replace}}

  {{#replace "main"}}

    <section id="landing">
      <div class="inner">

        <h2>Welkom</h2>

      </div>
    </section>

  {{/replace}}
{{/extend}}