<!DOCTYPE HTML>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="copyright" content="Copyright 2015 All rights reserved by Jan Werkhoven">
  <meta name="developer" content="Jan Werkhoven jan@nabu.io www.nabu.io">
  <meta name="robots" content="all">

  {{#block "meta"}}
    <title>Amemiya Daiku</title>
    <meta name="description" content="Traditional Japanese Carpentry by Kunhiro Amemiya">
  {{/block}}

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
  <link href="assets/css/main.min.css" rel="stylesheet" type="text/css">
  <script src="assets/js/main.min.js"></script>

</head>

<body>

  <h1>{{phrase1.en}}</h1>
  <h1>{{phrase2.jp}}</h1>
  <h1>{{title}}</h1>

  {{> header}}
  <main>
    {{> nav}}
    {{#block "main"}}
      <h2>Layout</h2>
    {{/block}}
  </main>
  {{> footer}}

</body>

</html>